Template: @@NAME@@/add-microsoft-repo
Type: boolean
Default: true
Description: Add Atlas apt repository?
 The installer can add an Atlas package repository and signing key to
 update Atlas through apt.
